flows/Update_Recurring_Gift_Commitment_Schedule_FinDock.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Calls an action to create or update a recurring type of gift commitment schedule record and create the first upcoming gift commitment transaction record.</description>
        <name>UpdateRecurringGiftCommitmentSchedule</name>
        <label>Update Recurring Gift Commitment Schedule</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <actionName>manageRcrGiftCmtSchd</actionName>
        <actionType>manageRcrGiftCmtSchd</actionType>
        <faultConnector>
            <targetReference>ScreenDisplayErrorFlow</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>giftCommitmentSchedule</name>
            <value>
                <elementReference>UpdateGiftCommitmentSchedule</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>effectiveFromDate</name>
            <value>
                <elementReference>effectiveStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>effectiveToDate</name>
            <value>
                <elementReference>effectiveEndDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>manageRcrGiftCmtSchd</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Sets the parameters on UpdateGiftCommitmentSchedule such as StartDate and EndDate from the values of UpdateDatesScreen.</description>
        <name>CreateUpdateDatesRequest</name>
        <label>Create Update Dates Request</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateDatesStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateDatesEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateDatesCampaign.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.GiftCommitmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateDatesSelectSchdDataTable.firstSelectedRow.GiftCommitmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateDatesSelectSchdDataTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.CommitmentUpdateReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateDatesCommitmentUpdateReasonPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.OutreachSourceCodeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateDatesOutreachSourceCode.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecurringGiftCommitmentSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the parameters on UpdateGiftCommitmentSchedule from the values of UpdatePaymentMethodScreen.</description>
        <name>CreateUpdatePaymentMethodRequest</name>
        <label>Create Update Payment Method Request</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatePaymentMethodCampaign.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.GiftCommitmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.GiftCommitmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>effectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatePaymentMethodEffectiveStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>effectiveEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatePaymentMethodEffectiveEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.CommitmentUpdateReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatePaymentMethodCommitmentUpdateReasonPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.fdff__Mandate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinDockMandate.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.fdff__Payment_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinDockPaymentProfile.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.fdff__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinDockDependentPaymentMethod.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.fdff__Payment_Processor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinDockDependentPaymentMethod.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.fdff__Target__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinDockDependentPaymentMethod.bottomValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.OutreachSourceCodeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatePaymentMethodOutreachSourceCode.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecurringGiftCommitmentSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the parameters on UpdateGiftCommitmentSchedule from the values of UpgradeDowngradeScreen.</description>
        <name>CreateUpgradeDowngradeRequest</name>
        <label>Create Upgrade Downgrade Request</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.TransactionPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpgradeDowngradeTransactionPeriodChoiceSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.TransactionInterval</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionInterval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.TransactionAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.TransactionDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpgradeDowngradeTransactionDayChoiceSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpgradeDowngradeCampaignId.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.GiftCommitmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.GiftCommitmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>effectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpgradeDowngradeEffectiveStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>effectiveEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpgradeDowngradeEffectiveEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.CommitmentUpdateReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpgradeDowngradeUpdateReasonPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.fdff__Mandate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinDockMandateDownUpgrade.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.fdff__Payment_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinDockPaymentProfileDownUpgrade.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.fdff__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinDockPaymentMethodPicklistDownUpgrade.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.fdff__Payment_Processor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinDockPaymentMethodPicklistDownUpgrade.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.fdff__Target__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinDockPaymentMethodPicklistDownUpgrade.bottomValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateGiftCommitmentSchedule.OutreachSourceCodeId</assignToReference>
            <operator>Assign</operator>
                <value>
                    <elementReference>UpgradeDowngradeOutreachSourceCodeId.recordId</elementReference>
                </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecurringGiftCommitmentSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the selected action on SelectActionScreen to action.</description>
        <name>SetAction</name>
        <label>Set Action</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>action</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectActionChoiceSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetGiftCommitmentSchedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets NoScheduleFoundError to True.</description>
        <name>SetErrorVariableScheduleNotFound</name>
        <label>Set Error Variable</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NoScheduleFoundError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DisplayErrorScheduleNotFoundScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Stores the action to Update Dates of a gift commitment schedule for the gift commitment with recordId.</description>
        <name>UpdateDatesActionChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Update Dates&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>UpdateGiftCommitmentScheduleDatesAction</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the action to Update Payment Method of a gift commitment schedule for the gift commitment with recordId.</description>
        <name>UpdatePaymentMethodActionChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Update Payment Method&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>UpdatePaymentMethodAction</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the action to Upgrade Downgrade of a gift commitment schedule for the gift commitment with recordId.</description>
        <name>UpgradeDowngradeActionChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Upgrade | Downgrade&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>UpgradeDowngradeAction</elementReference>
        </value>
    </choices>
    <constants>
        <description>Stores the validation error code used when no active, draft, or paused gift commitment record with an ID matching recordId was found.</description>
        <name>InvalidCmtErrorCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>InvalidCommitmentError</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the validation error code used when no active, draft, or paused gift commitment records with a schedule type of Recurring were found for a donor.</description>
        <name>InvalidCmtForDonorErrorCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>InvalidCommitmentForDonorError</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the validation error code used when recordId isn&apos;t a donor record ID or a gift commitment record ID.</description>
        <name>InvalidRecordIdErrorCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>InvalidRecordIdError</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the action to update the start and end dates on a recurring gift commitment schedule.</description>
        <name>UpdateGiftCommitmentScheduleDatesAction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>UpdateDates</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the action to update the payment method for a recurring gift commitment schedule.</description>
        <name>UpdatePaymentMethodAction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>UpdatePaymentMethod</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the action to upgrade or downgrade a recurring gift commitment schedule.</description>
        <name>UpgradeDowngradeAction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>UpgradeDowngrade</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether the gift commitments retrieved in GetGiftCommitments are valid and have the required action to be performed on them.</description>
        <name>IsGiftCmtValidWithAnAction</name>
        <label>Is Gift Commitment Valid With An Action?</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SelectActionScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Action (Default)</defaultConnectorLabel>
        <rules>
            <name>HasError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayErrorScheduleNotFoundScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>HasUpdateScheduleAction</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UpgradeDowngradeAction</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UpdateGiftCommitmentScheduleDatesAction</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UpdatePaymentMethodAction</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetGiftCommitmentSchedules</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether to update the schedule dates, payment method, or perform upgrade or downgrade on the recurring gift commitment schedule that’s retrieved in GetGiftCommitmentSchedules.</description>
        <name>WhichActionOnRecurringSchedule</name>
        <label>Which Action on Recurring Schedule?</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>UpgradeDowngradeScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Upgrade Or Downgrade</defaultConnectorLabel>
        <rules>
            <name>NoSchedulesFoundError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGiftCommitmentSchedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetErrorVariableScheduleNotFound</targetReference>
            </connector>
            <label>No Schedule Found</label>
        </rules>
        <rules>
            <name>UpdateGiftCommitmentScheduleDates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UpdateGiftCommitmentScheduleDatesAction</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDatesScreen</targetReference>
            </connector>
            <label>Update Gift Commitment Schedule Dates</label>
        </rules>
        <rules>
            <name>UpdatePaymentMethod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UpdatePaymentMethodAction</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePaymentMethodScreen</targetReference>
            </connector>
            <label>Update Payment Method</label>
        </rules>
    </decisions>
    <description>Updates a Gift Commitment Schedule record for a recurring type of schedule.</description>
    <dynamicChoiceSets>
        <description>Stores all the Update Reason field values for the Gift Commitment Schedule object for use as options for CommitmentUpdateReasonPicklists.</description>
        <name>CommitmentUpdateReasonPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CommitmentUpdateReason</picklistField>
        <picklistObject>GiftCommitmentSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FinDockPaymentMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>fdff__Payment_Method__c</picklistField>
        <picklistObject>GiftCommitmentSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FinDockPaymentProcessor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>fdff__Payment_Processor__c</picklistField>
        <picklistObject>GiftCommitmentSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FindockTarget</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>fdff__Target__c</picklistField>
        <picklistObject>GiftCommitmentSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Stores all the Payment Method field values for the Gift Commitment Schedule object for use as options for PaymentMethodPicklists.</description>
        <name>PaymentMethodPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentMethod</picklistField>
        <picklistObject>GiftCommitmentSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Stores all the TransactionDay field values for the Gift Commitment Schedule object for use as options for TransactionDayPicklists.</description>
        <name>TransactionDayChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TransactionDay</picklistField>
        <picklistObject>GiftCommitmentSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Stores all the TransactionPeriod field values for the Gift Commitment Schedule object for use as options for TransactionPeriodPicklists.</description>
        <name>TransactionPeriodChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TransactionPeriod</picklistField>
        <picklistObject>GiftCommitmentSchedule</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Validate EndDate formula for UpdateDates of gift commitment schedule.</description>
        <name>ValidateUpdateDatesEndDateFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(({!UpdateDatesStartDate}&gt;{!UpdateDatesEndDate}), false, true)</expression>
    </formulas>
    <formulas>
        <description>Validate EffectiveEndDate formula for UpdatePaymentMethod of gift commitment schedule.</description>
        <name>ValidateUpdatePaymentMethodEffectiveEndDateFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF((({!UpdatePaymentMethodEffectiveEndDate}&lt;{!UpdatePaymentMethodEffectiveStartDate}) || ({!UpdatePaymentMethodEffectiveEndDate}&gt;{!UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.EndDate}) || ({!UpdatePaymentMethodEffectiveEndDate}&lt;{!UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.StartDate})) ,false, true)</expression>
    </formulas>
    <formulas>
        <description>Validate EffectiveStartDate formula for UpdatePaymentMethod of gift commitment schedule.</description>
        <name>ValidateUpdatePaymentMethodEffectiveStartDateFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF((({!UpdatePaymentMethodEffectiveStartDate}&lt;{!UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.StartDate}) || ({!UpdatePaymentMethodEffectiveStartDate}&gt;{!UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.EndDate})) ,false, true)</expression>
    </formulas>
    <formulas>
        <description>Validate EffectiveEndDate formula for UpgradeDowngrade of gift commitment schedule.</description>
        <name>ValidateUpgradeDowngradeEffectiveEndDateFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF((({!UpgradeDowngradeEffectiveEndDate}&lt;{!UpgradeDowngradeEffectiveStartDate}) || ({!UpgradeDowngradeEffectiveEndDate}&gt;{!UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.EndDate}) || ({!UpgradeDowngradeEffectiveEndDate}&lt;{!UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.StartDate})) ,false, true)</expression>
    </formulas>
    <formulas>
        <description>Validate EffectiveStartDate formula for UpgradeDowngrade of gift commitment schedule.</description>
        <name>ValidateUpgradeDowngradeEffectiveStartDateFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF((({!UpgradeDowngradeEffectiveStartDate}&lt;{!UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.StartDate}) || ({!UpgradeDowngradeEffectiveStartDate}&gt;{!UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.EndDate})) ,false, true)</expression>
    </formulas>
    <formulas>
        <description>Validate TransactionAmount formula for UpgradeDowngrade of gift commitment schedule.</description>
        <name>ValidateUpgradeDowngradeTransactionAmountFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(({!TransactionAmount})&lt;1, false, true)</expression>
    </formulas>
    <interviewLabel>Update Recurring Gift Commitment Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Recurring Gift Commitment Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets ongoing and future gift commitment schedule records for giftCommitmentId that has type as CreateTransactions.</description>
        <name>GetGiftCommitmentSchedules</name>
        <label>Get Gift Commitment Schedules</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhichActionOnRecurringSchedule</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayErrorFlow</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>GiftCommitmentId</field>
            <operator>In</operator>
            <value>
                <elementReference>giftCommitmentIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CreateTransactions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftCommitmentSchedule</object>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Displays an error message to the flow user when there&apos;s an error retrieving the gift commitment schedule.</description>
        <name>DisplayErrorScheduleNotFoundScreen</name>
        <label>Display Error</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 0, 30);&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fault</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InvalidRecordIdErrorDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 13px; color: rgb(234, 0, 30);&quot;&gt;We couldn’t process the request because the recordId isn’t a valid Gift Commitment or account ID.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>InvalidRecordIdErrorCode</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ScheduleNotFoundErrorDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;We couldn’t process the request because no applicable Gift Commitment Schedule was found.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoScheduleFoundError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InvalidGiftCmtErrorDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 13px; color: rgb(234, 0, 30);&quot;&gt;We couldn’t find a Gift Commitment with schedule type as Recurring and status as Active, Paused, or Draft for the specified action.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>InvalidCmtErrorCode</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IneligibleGiftCmtForDonorErrorDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 13px; color: rgb(234, 0, 30);&quot;&gt;We couldn’t find a valid Gift Commitment record with schedule type as Recurring and status as Active, Paused, or Draft for the donor.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>InvalidCmtForDonorErrorCode</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the user indicating that an error occurred in the flow.</description>
        <name>ScreenDisplayErrorFlow</name>
        <label>Display Flow Error</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowErrorDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select an action to be performed on the recurring gift commitment schedule.</description>
        <name>SelectActionScreen</name>
        <label>Select Action</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetAction</targetReference>
        </connector>
        <fields>
            <name>SelectActionInformation</name>
            <fieldText>&lt;p&gt;&lt;em&gt;Select the action to be performed on the Gift Commitment Schedule.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectActionChoiceSet</name>
            <choiceReferences>UpgradeDowngradeActionChoice</choiceReferences>
            <choiceReferences>UpdatePaymentMethodActionChoice</choiceReferences>
            <choiceReferences>UpdateDatesActionChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>UpgradeDowngradeActionChoice</defaultSelectedChoiceReference>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select a recurring gift commitment schedule that has either an Active, Paused, or Draft status, and then update the schedule start and end dates.</description>
        <name>UpdateDatesScreen</name>
        <label>Update Dates</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateUpdateDatesRequest</targetReference>
        </connector>
        <fields>
            <name>UpdateScheduleDates</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Update Dates&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AvailableGiftCommitmentScheduleSection</name>
            <fieldText>Available Gift Commitment Schedules</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AvailableGiftCommitmentScheduleSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdateDatesScheduleInformation</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 13px;&quot;&gt;Ongoing and future Gift Commitment Schedules for recurring Gift Commitments with an active, draft, or paused status are shown.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UpdateDatesMultiCurrencyInfoDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;All the amount fields use the currency of the Gift Commitment.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UpdateDatesSelectSchdDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>GiftCommitmentSchedule</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetGiftCommitmentSchedules</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;GiftCommitmentName&quot;,&quot;guid&quot;:&quot;column-2258&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentName&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Gift Commitment Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;GiftCommitmentStatus&quot;,&quot;guid&quot;:&quot;column-a050&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentStatus&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Gift Commitment Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDate&quot;,&quot;guid&quot;:&quot;column-9dd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentStartDate&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-e3ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentEndDate&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;TransactionPeriod&quot;,&quot;guid&quot;:&quot;column-ed07&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentTransactionPeriod&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Transaction Period&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TransactionAmount&quot;,&quot;guid&quot;:&quot;column-0fd4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentTransactionAmount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Transaction Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CampaignName&quot;,&quot;guid&quot;:&quot;column-dd2a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentCampaign&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Campaign Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>GetGiftCommitmentSchedules</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>UpdateDatesScheduleInfoSection</name>
            <fieldText>Schedule Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UpdateDatesScheduleInfoSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdateDatesStartDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>UpdateDatesSelectSchdDataTable.firstSelectedRow.StartDate</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UpdateDatesScheduleInfoSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdateDatesEndDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>UpdateDatesSelectSchdDataTable.firstSelectedRow.EndDate</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>Enter a date that’s on or before the Start Date.</errorMessage>
                        <formulaExpression>{!ValidateUpdateDatesEndDateFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>UpdateDatesAdditionalInfoSection</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UpdateDatesAdditionalInfoSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdateDatesOutreachSourceCode</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OutreachSourceCodeId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Source Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GiftCommitmentSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UpdateDatesSelectSchdDataTable.firstSelectedRow.OutreachSourceCode.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>UpdateDatesCommitmentUpdateReasonPicklist</name>
                    <choiceReferences>CommitmentUpdateReasonPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Update Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UpdateDatesAdditionalInfoSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdateDatesCampaign</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CampaignId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Campaign</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GiftCommitmentSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UpdateDatesSelectSchdDataTable.firstSelectedRow.CampaignId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Confirm And Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select a recurring gift commitment schedule  that has either Active, Paused, or Draft status, and then update the schedule’s payment method and date from when the updated payment method is effective.</description>
        <name>UpdatePaymentMethodScreen</name>
        <label>Update Payment Method</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateUpdatePaymentMethodRequest</targetReference>
        </connector>
        <fields>
            <name>UpdatePaymentMethodScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Update Payment Method&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AvailableSchedulesForUpdatePaymentMethodSection</name>
            <fieldText>Available Gift Commitment Schedules</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AvailableSchedulesForUpdatePaymentMethodSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdatePaymentMethodScheduleInformation</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Ongoing and future Gift Commitment Schedules for recurring Gift Commitments with an active, draft, or paused status are shown.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UpdatePaymentMethodMultiCurrencyInfoDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;All the amount fields use the currency of the Gift Commitment.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UpdatePaymentMethodSelectSchdDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>GiftCommitmentSchedule</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetGiftCommitmentSchedules</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;GiftCommitmentName&quot;,&quot;guid&quot;:&quot;column-2258&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentName&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Gift Commitment Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;GiftCommitmentStatus&quot;,&quot;guid&quot;:&quot;column-a050&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentStatus&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Gift Commitment Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDate&quot;,&quot;guid&quot;:&quot;column-9dd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentStartDate&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-e3ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentEndDate&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;TransactionPeriod&quot;,&quot;guid&quot;:&quot;column-ed07&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentTransactionPeriod&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Transaction Period&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TransactionAmount&quot;,&quot;guid&quot;:&quot;column-0fd4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentTransactionAmount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Transaction Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CampaignName&quot;,&quot;guid&quot;:&quot;column-dd2a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentCampaign&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Campaign Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>GetGiftCommitmentSchedules</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>UpdatePaymentMethodScheduleInformationSection</name>
            <fieldText>Schedule Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UpdatePaymentMethodScheduleInformationSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinDockDependentPaymentMethod</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>GiftCommitmentSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>fdff__Payment_Method__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>fdff__Payment_Processor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Payment Method</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.fdff__Payment_Method__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Payment Processor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.fdff__Payment_Processor__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomPicklistApiName</name>
                        <value>
                            <stringValue>fdff__Target__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomLabel</name>
                        <value>
                            <stringValue>Target</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomValue</name>
                        <value>
                            <elementReference>UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.fdff__Target__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UpdatePaymentMethodScheduleInformationSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinDockPaymentProfile</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>fdff__Payment_Profile__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Payment Profile</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GiftCommitmentSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.fdff__Payment_Profile__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FinDockMandate</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>fdff__Mandate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mandate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GiftCommitmentSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.fdff__Mandate__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>UpdatePaymentMethodAdditionalInfoSection</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UpdatePaymentMethodAdditionalInfoSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdatePaymentMethodEffectiveStartDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Effective Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Enter the date from when updates to the Gift Commitment Schedule are effective.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>Enter a date that&apos;s on or after the schedule’s start date and on or before the schedule’s end date.</errorMessage>
                        <formulaExpression>{!ValidateUpdatePaymentMethodEffectiveStartDateFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>UpdatePaymentMethodOutreachSourceCode</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OutreachSourceCodeId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Source Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GiftCommitmentSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.OutreachSourceCode.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>UpdatePaymentMethodCommitmentUpdateReasonPicklist</name>
                    <choiceReferences>CommitmentUpdateReasonPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Update Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UpdatePaymentMethodAdditionalInfoSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdatePaymentMethodEffectiveEndDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.EndDate</elementReference>
                    </defaultValue>
                    <fieldText>Effective End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Enter the date until when updates to the Gift Commitment Schedule are effective.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>Enter a date that&apos;s on or after the schedule’s effective start date and on or before the schedule’s end date.</errorMessage>
                        <formulaExpression>{!ValidateUpdatePaymentMethodEffectiveEndDateFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>UpdatePaymentMethodCampaign</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CampaignId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Campaign</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GiftCommitmentSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UpdatePaymentMethodSelectSchdDataTable.firstSelectedRow.CampaignId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Confirm And Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select a recurring gift commitment schedule  that has either Active, Paused, or Draft status, and then update the schedule’s transaction details like amount, period, interval, payment method and date from when the updates are effective.</description>
        <name>UpgradeDowngradeScreen</name>
        <label>Upgrade Downgrade</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateUpgradeDowngradeRequest</targetReference>
        </connector>
        <fields>
            <name>UpgradeDowngradeScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Upgrade | Downgrade&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AvailableSchedulesForUpgradeDowngradeSection</name>
            <fieldText>Available Gift Commitment Schedules</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AvailableSchedulesForUpgradeDowngradeSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpgradeDowngradeScheduleInformation</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Ongoing and future Gift Commitment Schedules for recurring Gift Commitments with an active, draft, or paused status are shown.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UpgradeDowngradeMultiCurrencyInfoDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;All the amount fields use the currency of the Gift Commitment.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UpgradeDowngradeSelectSchdDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>GiftCommitmentSchedule</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetGiftCommitmentSchedules</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;GiftCommitmentName&quot;,&quot;guid&quot;:&quot;column-2258&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentName&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Gift Commitment Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;GiftCommitmentStatus&quot;,&quot;guid&quot;:&quot;column-a050&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentStatus&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Gift Commitment Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDate&quot;,&quot;guid&quot;:&quot;column-9dd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentStartDate&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-e3ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentEndDate&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;TransactionPeriod&quot;,&quot;guid&quot;:&quot;column-ed07&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentTransactionPeriod&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Transaction Period&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TransactionAmount&quot;,&quot;guid&quot;:&quot;column-0fd4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentTransactionAmount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Transaction Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CampaignName&quot;,&quot;guid&quot;:&quot;column-dd2a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;$Label.UpdateRecurringScheduleFlow.commitmentCampaign&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Campaign Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>GetGiftCommitmentSchedules</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>UpgradeDowngradeSchduleInfoSection</name>
            <fieldText>Schedule Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UpgradeDowngradeSchduleInfoSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpgradeDowngradeTransactionPeriodChoiceSet</name>
                    <choiceReferences>TransactionPeriodChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.TransactionPeriod</elementReference>
                    </defaultValue>
                    <fieldText>Transaction Period</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select Monthly, Weekly, Daily, or Yearly as the Gift Transaction period for this recurring schedule.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TransactionAmount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.TransactionAmount</elementReference>
                    </defaultValue>
                    <fieldText>Transaction Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>Enter an amount that&apos;s greater than 0.</errorMessage>
                        <formulaExpression>{!ValidateUpgradeDowngradeTransactionAmountFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UpgradeDowngradeSchduleInfoSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TransactionInterval</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.TransactionInterval</elementReference>
                    </defaultValue>
                    <fieldText>Transaction Interval</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter the interval of running the Gift Commitment Schedule. The transaction period and interval define how the schedule is run. For example, if the transaction period is monthly and the transaction interval is 3, the schedule runs every three months.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>UpgradeDowngradeTransactionDayChoiceSet</name>
                    <choiceReferences>TransactionDayChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.TransactionDay</elementReference>
                    </defaultValue>
                    <fieldText>Transaction Day</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Enter the day of the month to create Gift Transaction in the future for a monthly transaction period. If you select the day as 29 or 30, the Gift Transaction is created on the last day for months that don&apos;t have that many days.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>FinDock</name>
            <fieldText>FinDock</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FinDock_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinDockPaymentMethodPicklistDownUpgrade</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>GiftCommitmentSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>fdff__Payment_Method__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>fdff__Payment_Processor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Payment Method</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.fdff__Payment_Method__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Payment Processor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.fdff__Payment_Processor__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomPicklistApiName</name>
                        <value>
                            <stringValue>fdff__Target__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomLabel</name>
                        <value>
                            <stringValue>Target</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomValue</name>
                        <value>
                            <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.fdff__Target__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FinDock_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinDockPaymentProfileDownUpgrade</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>fdff__Payment_Profile__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Payment Profile</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GiftCommitmentSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.fdff__Payment_Profile__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FinDockMandateDownUpgrade</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>fdff__Mandate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mandate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GiftCommitmentSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.fdff__Mandate__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>UpgradeDowngradeAdditionalInfoSection</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UpgradeDowngradeAdditionalInfoSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpgradeDowngradeEffectiveStartDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Effective Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter the date from when updates to the Gift Commitment Schedule are effective.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>Enter a date that&apos;s on or after the schedule’s start date and on or before the schedule’s end date.</errorMessage>
                        <formulaExpression>{!ValidateUpgradeDowngradeEffectiveStartDateFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>UpgradeDowngradeOutreachSourceCodeId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OutreachSourceCodeId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Source Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GiftCommitmentSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.OutreachSourceCodeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>UpgradeDowngradeUpdateReasonPicklist</name>
                    <choiceReferences>CommitmentUpdateReasonPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Update Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UpgradeDowngradeAdditionalInfoSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpgradeDowngradeEffectiveEndDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.EndDate</elementReference>
                    </defaultValue>
                    <fieldText>Effective End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter the date until when updates to the Gift Commitment Schedule are effective.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>Enter a date that&apos;s on or after the schedule’s effective start date and on or before the schedule’s end date.</errorMessage>
                        <formulaExpression>{!ValidateUpgradeDowngradeEffectiveEndDateFormula}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>UpgradeDowngradeCampaignId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CampaignId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Campaign</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GiftCommitmentSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UpgradeDowngradeSelectSchdDataTable.firstSelectedRow.CampaignId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Confirm And Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>frops_flow__UpdateRecurringSchedule</sourceTemplate>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetGiftCommitments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Gets active, draft, and paused gift commitment records with a donor ID that matches recordId and a schedule type of Recurring. Stores the results in the GiftCommitments from GetGiftCommitments record collection.</description>
        <name>GetGiftCommitments</name>
        <label>Get Gift Commitments</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>IsGiftCmtValidWithAnAction</targetReference>
        </connector>
        <flowName>frops_flow__GetGiftCommitments</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorCode</assignToReference>
            <name>errorCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>giftCommitmentIds</assignToReference>
            <name>giftCommitmentIds</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isError</assignToReference>
            <name>isError</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Stores the action the flow user selects to perform on the recurring schedule. Valid values are UpgradeDowngrade, UpdatePaymentMethod and UpdateDates.

            Stores the action the flow user selects to perform on the recurring schedule.</description>
        <name>action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the date until updates to the gift commitment schedule are effective.</description>
        <name>effectiveEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the date from when the updates to the recurring gift commitment schedule are effective.</description>
        <name>effectiveStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores an error code and is available as output from the flow.</description>
        <name>errorCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the fault message generated by the flow when GetCommitments or GetCommitment fails. Available as output from the flow.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a collection of IDs of gift commitment records returned either by GetCommitments or GetCommitment and is available as output from the flow.</description>
        <name>giftCommitmentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a Boolean value that indicates whether the flow was ended due to an error.</description>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a Boolean value that indicates the gift commitment has no associated gift commitment schedule records.</description>
        <name>NoScheduleFoundError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of a donor or gift commitment that is passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the gift commitment schedule record details that the flow user added for the selected action.</description>
        <name>UpdateGiftCommitmentSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftCommitmentSchedule</objectType>
    </variables>
</Flow>
